
@{
    ViewBag.Title = "blogDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="visual">
    <div class="visual-inner about-banner dark-overlay parallax" data-stellar-background-ratio="0.55">
        <div class="centered">
            <div class="container">
                <div class="visual-text visual-center">
                    <h1 class="visual-title visual-sub-title">Blog</h1>
                    <div class="breadcrumb-block">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"> Anasayfa </a></li>
                            <li class="breadcrumb-item active"> Blog Detay </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <div class="content-wrapper">
        <section class="content-block">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-lg-12 less-wide">
                        <div class="blog-holder">
                            <article class="blog-article">
                                <div class="blog-title text-center pb-5">
                                    <h1>Kuşadası'ndaki Ramada Otelleri 'En iyi Ramada' ödülü aldı</h1>
                                    <div class="blog-lists border-0">
                                        <ul class="blog-list-items">
                                            <li>Yazar: <a href="#">Serhat</a></li>
                                            <li>
                                                <time datetime="2011-01-12">11 <span>Ağustos</span> </time>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="blog-desc pt-5">
                                    <div class="blog-img">
                                        <div class="image-wrap">
                                            <figure class="">
                                                <img src="img/blog3.jpg" alt="images description">
                                            </figure>
                                        </div>
                                    </div>
                                    <p>Kuşadası'nda faaliyet gösteren ve Özyer Grubu tarafından işletilen iki ayrı Ramada oteli, dünyadaki 850 Ramada markalı otel arasından en iyi Ramada oteli anlamına gelen " Best Of Ramada " ödülü aldı.</p>
                                    <p>
                                        Edinilen bilgiye göre, Kuşadası'nda faaliyet gösteren Ramada Resort By Wyndham Kuşadası Golf ile Ramada Hotel Suites By Wyndham Kuşadası otelleri, dünya üzerindeki 850 Ramada markalı otel arasında Best Of Ramada ödülüne layık görülerek,
                                        en iyi Ramada otelleri arasına girdi. Kuşadası'ndaki iki ayrı Ramada otelinin en iyi Ramada oteli seçilmesinin ardından ödül töreni düzenlendi. Düzenlenen törende, Ramada by Wyndham Kuşadası Otelleri Genel Müdürü Murat Ünver,
                                        Bet Of ödülünü Ramada Orta ve Doğu Avrupa Bölgesi Franchise Operasyonları Direktörü Ayça Beslen'in elinden aldı.
                                    </p>
                                    <p>
                                        Dünya çapındaki Ramada markalı oteller arasında en iyi Ramada ödülüne layık olmaktan büyük onur ve gurur duyduklarını belirten Ramada by Wyndham Kuşadası Otelleri Genel Müdürü Muran Ünver, " Ramada by Wyndham, dünyanın en tanınmış otel markalarından biridir.
                                        Misafirlerimize sevdikleriyle paylaşmaktan zevk alacakları keyifli tatil anları yaratıp onları mutlu etmek en büyük hedefimizdir. Bunu gerçekleştirirken iç misafirimiz olan personelimizin de memnuniyeti önceliğimizdir. Ek çabaya gerek kalmadan, emeğimizin,
                                        özenimizin karşılığı olarak mükemmel misafir deneyimine ve dolayısıyla memnuniyetine ulaşıyoruz. Dünya çapında Best Of Ramada Ödülünü 850 Otel arasında almaya hak kazanan otellerden 2'si bizim tesislerimizdir. Her iki tesisimizle,
                                        üstelik Ramada Resort By wyndham & Golf ile 2 yıl üst üste bu ödülleri alarak istikrarlı bir şekilde çok iyi performansla hizmetimize devam ettiğimizi misafirlerimize duyuruyoruz.Kuşadası'na marka değeri ile katkıda bulunan
                                        Ramada By Wyndham Kuşadası Otellerimiz Dünya'ya hem kendi ismini hem Kuşadası'nın ismini duyurmuştur. Düzenlenen ödül töreninde, "Best Of " Ödülünü, Orta ve Doğu Avrupa Bölgesi Franchise Operasyonlari Direktörü Ayça Beslen'in
                                        elinden alan yöneticiler tüm personel adına kabul ettiler. Ayça Beslen törende Wyndham Hotels & Resorts - Orta ve Dogu Avrupa Bolgesi baskani Edwin Broers`in el yazısıyla özel olarak gönderdiği mesajını da okuyarak ekibi tebrik etti.
                                        Kuşadası Turizmine katkıda bulunmak ve daha nice başarılı platformlarda ismini duyurmak her daim hedefimizdir ' dedi.
                                    </p>
                                    <div class="blockquote-block blockquote-block-v2 pt-3 pb-3">
                                        <blockquote>
                                            <p>
                                                Ayça Beslen törende Wyndham Hotels & Resorts - Orta ve Dogu Avrupa Bolgesi baskani Edwin Broers`in el yazısıyla özel olarak gönderdiği mesajını da okuyarak ekibi tebrik etti.
                                                Kuşadası Turizmine katkıda bulunmak ve daha nice başarılı platformlarda ismini duyurmak her daim hedefimizdir ' dedi.
                                            </p>
                                        </blockquote>
                                    </div>
                                    <div class="blog-share mt-5">
                                        <ul class="social-network with-text">
                                            <li><strong>Paylaş :</strong></li>
                                            <li><a href="#"><span class="icon-facebook"></span> Facebook</a></li>
                                            <li><a href="#"><span class="icon-twitter"></span> Twitter</a></li>
                                            <li><a href="#"><span class="icon-google-plus"></span> Google</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="content-block pt-5 pb-5">
                            <div class="comment-block">
                                <h6 class="content-title contact-title mb-3">2 Yorum</h6>
                                <div class="comment-slot">
                                    <div class="thumb circular-img">
                                        <a href="#"><img src="img/people-01.jpg" alt="images description"></a>
                                    </div>
                                    <div class="comment-desc">
                                        <h5><a href="#">Cleona Torez - Spain</a></h5>
                                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
                                        <div class="meta">
                                            Tarih
                                            <time datetime="2016-07-19">14/1/2016</time> - <a href="#">Yanıtla</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-slot">
                                    <div class="thumb circular-img">
                                        <a href="#"><img src="img/people-02.jpg" alt="images description"></a>
                                    </div>
                                    <div class="comment-desc">
                                        <h5><a href="#">Steve Jurgen - Norway</a></h5>
                                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.</p>
                                        <div class="meta">
                                            Tarih
                                            <time datetime="2016-07-19">14/1/2016</time> - <a href="#">Yanıtla</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contact-container">
                            <form action="#" class="comment-form waituk_contact-form">
                                <fieldset>
                                    <h6 class="content-title contact-title">YORUM EKLEYİN</h6>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <input placeholder="Ad" type="text" class="form-control">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <input placeholder="Soyad" type="email" class="form-control">
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <input placeholder="E-mail" type="text" class="form-control">
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <textarea placeholder="Yorumunuz" class="form-control"></textarea>
                                        </div>
                                        <div class="col-sm-12 btn-holder">
                                            <button type="submit" class="btn btn-black btn-full">GÖNDER</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

