
@{
    ViewBag.Title = "hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="visual">
    <div class="visual-inner about-banner dark-overlay parallax" data-stellar-background-ratio="0.55">
        <div class="centered">
            <div class="container">
                <div class="visual-text visual-center">
                    <h1 class="visual-title visual-sub-title">Blog</h1>
                    <div class="breadcrumb-block">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"> Anasayfa </a></li>
                            <li class="breadcrumb-item active"> Hakkımızda </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <div class="content-wrapper">
        <section class="content-block">
            <div class="container text-center">
                <div class="heading bottom-space">
                    <h2>Özyer'e <span>Bakış</span></h2>
                </div>
                <div class="description">
                    <p>
                        Özyer Grup 1948 yılında Fethiye’de açılan tekstil ve kuyum mağazası ile kuruldu. Kurucusu Ömer ÖZYER olan grubun merkezi halen Fethiye’de bulunmaktadır. Özyer Grup kurulduğu günden bu yana, kuyum, turizm, inşaat, emlak, basın, medya ve son olarak da enerji sektörlerinde yatırımlar yapmıştır ve yapmaya devam etmektedir.

                        Kendisi için ilk öncelik olan müşteri güveni ve memnuniyetinin sağlanması doğrultusunda çalışan ve sağlam adımlar atmaya devam eden Özyer Grup, hizmet verdiği tüm sektörlerde en yüksek kaliteyi hedeflemektedir.
                    </p>
                </div>
            </div>
        </section>
        <section class="content-block p-0">
            <div class="container-fluid">
                <div class="content-slot alternate-block">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="bg-stretch img-wrap wow slideInLeft">
                                <img src="img/brand/aboutimg3.jpg" alt="images">
                            </div>
                        </div>
                        <div class="col col-lg-6">
                            <div class="text-wrap">
                                <h3>
                                    Yönetim Kurulumuz
                                </h3>
                                <p>Özyer Grup’un kuruluşu adına ilk adım 1948 yılında Ömer ÖZYER tarafından açılmış olan, tekstil ve kuyum satışı yapılan mağazadır.</p>
                                <p>Özyer Grup kurucusu Ömer ÖZYER, oğulları Hasan ÖZYER, Süleyman ÖZYER ve Faruk ÖZYER ile beraber, bugün birçok sektörde hizmet veren bu şirketler grubunun temellerini atmıştır.</p>
                                <p>Bugün muazzam bir büyüklüğe ulaşan ve yeni yatırımlarla büyümeye devam eden Özyer Grup, Hasan ÖZYER, Süleyman ÖZYER ve Faruk ÖZYER’den oluşan bir yönetim kurulu tarafından yönetilmektedir.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="bg-stretch img-wrap wow slideInRight">
                                <img src="img/brand/aboutimg2.jpg" alt="images">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="text-wrap">
                                <h3>Misyon</h3>
                                <p>Hizmet verdiğimiz tüm sektörlerde, en yüksek kalite anlayışı ile beklentileri aşan sonuçlar üreterek, çalışanlarımızın ve müşterilerimizin memnuniyetine ve güvenine layık olmak.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="bg-stretch img-wrap wow slideInLeft">
                                <img src="img/brand/aboutimg4.jpeg" alt="images">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="text-wrap">
                                <h3>Vizyon</h3>
                                <p>Kurumsal değerleri ve kalite anlayışı rehberliğinde, hizmet verdiği sektörlerde müşterilerin ilk tercihi olmak ve bu durumun devamlılığını sağlamak.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content-block quotation-block black-overlay-6 parallax" data-stellar-background-ratio="0.55">
            <div class="container">
                <div class="inner-wrapper">
                    <h3 class="block-top-heading text-white">BEST EVER DESIGN</h3>
                    <h2 class="text-white">Time to enhance your web presence!</h2>
                    <div class="btn-container">
                        <a href="#" class="btn btn-primary">GET QUOTATION</a>
                    </div>
                </div>
            </div>
        </section>
        <aside class="content-block">
            <div class="container">
                <div class="logo-container">
                    <div class="owl-carousel logo-slide" id="waituk-owl-slide-4">
                        <div class="slide-item">
                            <img src="img/logo-01.png" alt="images description">
                        </div>
                        <div class="slide-item">
                            <img src="img/logo-02.png" alt="images description">
                        </div>
                        <div class="slide-item">
                            <img src="img/logo-03.png" alt="images description">
                        </div>
                        <div class="slide-item">
                            <img src="img/logo-04.png" alt="images description">
                        </div>
                        <div class="slide-item">
                            <img src="img/logo-03.png" alt="images description">
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>


