
@{
    ViewBag.Title = "sektor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="visual">
    <div class="visual-inner about-banner dark-overlay parallax" data-stellar-background-ratio="0.55">
        <div class="centered">
            <div class="container">
                <div class="visual-text visual-center">
                    <h1 class="visual-title visual-sub-title">Blog</h1>
                    <div class="breadcrumb-block">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"> Anasayfa </a></li>
                            <li class="breadcrumb-item active"> Sektörler </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="content-wrapper">
    <section class="content-block portfolio-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="filter-nav filter-nav-v2 text-center button-group filter-button-group">
                        <li>
                            <button class="is-checked" data-filter="*">Tüm Sektörler</button>
                        </li>
                        <li>
                            <button data-filter=".turizm">Turizm</button>
                        </li>
                        <li>
                            <button data-filter=".insaat">İnşaat</button>
                        </li>
                        <li>
                            <button data-filter=".enerji">Enerji</button>
                        </li>
                        <li>
                            <button data-filter=".kuyum">Kuyum</button>
                        </li>
                    </ul>
                    <div class="row masonary-block grid">
                        <div class="gallery-item col-md-6 col-lg-6 col-xl-6 turizm">
                            <figure class="caption-hover-full">
                                <a class="fancy-pop" href="portfolio-single.html"></a>
                                <div class="image-wrapper"><img src="~/img/logo/1.png" alt="images description"></div>
                                <div class="image-details">
                                    <div class="figcaption">
                                        <div class="trigger">
                                            <div class="custom-icon-plus"><span class="sr-only">&nbsp;</span></div>
                                        </div>
                                        <div class="info">
                                            <h2 class="content-title">Awesome Project</h2>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="gallery-item col-md-6 col-lg-6 col-xl-6 turizm">
                            <figure class="caption-hover-full">
                                <a class="fancy-pop" href="portfolio-single.html"></a>
                                <div class="image-wrapper"><img src="~/img/logo/2.png" alt="images description"></div>
                                <div class="image-details">
                                    <div class="figcaption">
                                        <div class="trigger">
                                            <div class="custom-icon-plus"><span class="sr-only">&nbsp;</span></div>
                                        </div>
                                        <div class="info">
                                            <h2 class="content-title">Awesome Project</h2>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="gallery-item col-md-6 col-lg-6 col-xl-6 turizm">
                            <figure class="caption-hover-full">
                                <a class="fancy-pop" href="portfolio-single.html"></a>
                                <div class="image-wrapper"><img src="~/img/logo/3.png" alt="images description"></div>
                                <div class="image-details">
                                    <div class="figcaption">
                                        <div class="trigger">
                                            <div class="custom-icon-plus"><span class="sr-only">&nbsp;</span></div>
                                        </div>
                                        <div class="info">
                                            <h2 class="content-title">Awesome Project</h2>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="gallery-item col-md-6 col-lg-6 col-xl-6 insaat">
                            <figure class="caption-hover-full">
                                <a class="fancy-pop" href="portfolio-single.html"></a>
                                <div class="image-wrapper"><img src="~/img/logo/4.png" alt="images description"></div>
                                <div class="image-details">
                                    <div class="figcaption">
                                        <div class="trigger">
                                            <div class="custom-icon-plus"><span class="sr-only">&nbsp;</span></div>
                                        </div>
                                        <div class="info">
                                            <h2 class="content-title">Awesome Project</h2>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="gallery-item col-md-6 col-lg-6 col-xl-6 insaat">
                            <figure class="caption-hover-full">
                                <a class="fancy-pop" href="portfolio-single.html"></a>
                                <div class="image-wrapper"><img src="~/img/logo/5.png" alt="images description"></div>
                                <div class="image-details">
                                    <div class="figcaption">
                                        <div class="trigger">
                                            <div class="custom-icon-plus"><span class="sr-only">&nbsp;</span></div>
                                        </div>
                                        <div class="info">
                                            <h2 class="content-title">Awesome Project</h2>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="gallery-item col-md-6 col-lg-6 col-xl-6 enerji">
                            <figure class="caption-hover-full">
                                <a class="fancy-pop" href="portfolio-single.html"></a>
                                <div class="image-wrapper"><img src="~/img/logo/1.png" alt="images description"></div>
                                <div class="image-details">
                                    <div class="figcaption">
                                        <div class="trigger">
                                            <div class="custom-icon-plus"><span class="sr-only">&nbsp;</span></div>
                                        </div>
                                        <div class="info">
                                            <h2 class="content-title">Awesome Project</h2>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="gallery-item col-md-6 col-lg-6 col-xl-6 kuyum">
                            <figure class="caption-hover-full">
                                <a class="fancy-pop" href="portfolio-single.html"></a>
                                <div class="image-wrapper"><img src="~/img/logo/16.png" alt="images description"></div>
                                <div class="image-details">
                                    <div class="figcaption">
                                        <div class="trigger">
                                            <div class="custom-icon-plus"><span class="sr-only">&nbsp;</span></div>
                                        </div>
                                        <div class="info">
                                            <h2 class="content-title">Awesome Project</h2>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="gallery-item col-md-6 col-lg-6 col-xl-6 kuyum">
                            <figure class="caption-hover-full">
                                <a class="fancy-pop" href="portfolio-single.html"></a>
                                <div class="image-wrapper"><img src="~/img/logo/15.png" alt="images description"></div>
                                <div class="image-details">
                                    <div class="figcaption">
                                        <div class="trigger">
                                            <div class="custom-icon-plus"><span class="sr-only">&nbsp;</span></div>
                                        </div>
                                        <div class="info">
                                            <h2 class="content-title">Awesome Project</h2>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar-wrap mt-5 mt-lg-0">
                        <div class="widget-block">
                            <div class="post-block">
                                <h4>RECENT POSTS</h4>
                                <div class="post-holder">
                                    <a href="#" class="post-link"></a>
                                    <div class="post-avatar">
                                        <a href="#"><img src="img/thumb.jpg" alt="image description"></a>
                                    </div>
                                    <div class="post-desc">
                                        <h6><a href="#">Left Sidebar Portfolio</a></h6>
                                        <p><a href="#">7 Comments</a></p>
                                    </div>
                                </div>
                                <div class="post-holder">
                                    <a href="#" class="post-link"></a>
                                    <div class="post-avatar">
                                        <a href="#"><img src="img/thumb1.jpg" alt="image description"></a>
                                    </div>
                                    <div class="post-desc">
                                        <h6><a href="#">Right Sidebar Portfolio</a></h6>
                                        <p><a href="#">12 Comments</a></p>
                                    </div>
                                </div>
                                <div class="post-holder">
                                    <a href="#" class="post-link"></a>
                                    <div class="post-avatar">
                                        <a href="#"><img src="img/thumb2.jpg" alt="image description"></a>
                                    </div>
                                    <div class="post-desc">
                                        <h6><a href="#">Metro Style Portfolio</a></h6>
                                        <p><a href="#">12 Comments</a></p>
                                    </div>
                                </div>
                                <div class="post-holder">
                                    <a href="#" class="post-link"></a>
                                    <div class="post-avatar">
                                        <a href="#"><img src="img/thumb3.jpg" alt="image description"></a>
                                    </div>
                                    <div class="post-desc">
                                        <h6><a href="#">Clean Sidebar Styles</a></h6>
                                        <p><a href="#">12 Comments</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="twitter-feed mt-5">
                                <h4>TWITTER FEED</h4>
                                <div class="tweet-holder">
                                    <a href="#" class="post-link"></a>
                                    <div class="twit-ico"><i class="icon-twitter"></i></div>
                                    <div class="twit-desc">
                                        <h6><a href="#">Roxine Templates</a></h6>
                                        <p>7 Hours Ago</p>
                                    </div>
                                </div>
                                <div class="tweet-holder">
                                    <a href="#" class="post-link"></a>
                                    <div class="twit-ico"><i class="icon-twitter"></i></div>
                                    <div class="twit-desc">
                                        <h6><a href="#">Roxine Templates</a></h6>
                                        <p>7 Hours Ago</p>
                                    </div>
                                </div>
                                <div class="tweet-holder">
                                    <a href="#" class="post-link"></a>
                                    <div class="twit-ico"><i class="icon-twitter"></i></div>
                                    <div class="twit-desc">
                                        <h6><a href="#">Roxine Templates</a></h6>
                                        <p>7 Hours Ago</p>
                                    </div>
                                </div>
                                <div class="tweet-holder">
                                    <a href="#" class="post-link"></a>
                                    <div class="twit-ico"><i class="icon-twitter"></i></div>
                                    <div class="twit-desc">
                                        <h6><a href="#">Roxine Templates</a></h6>
                                        <p>7 Hours Ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tag-block mt-5">
                                <h4>TAG CLOUD</h4>
                                <ul>
                                    <li>
                                        <a href="#">Cloud</a>
                                    </li>
                                    <li>
                                        <a href="#">Bootstrap</a>
                                    </li>
                                    <li>
                                        <a href="#">Web</a>
                                    </li>
                                    <li>
                                        <a href="#">Web</a>
                                    </li>
                                    <li>
                                        <a href="#">Cloud</a>
                                    </li>
                                    <li>
                                        <a href="#">UI/UX</a>
                                    </li>
                                    <li>
                                        <a href="#">Cloud</a>
                                    </li>
                                    <li>
                                        <a href="#">Bootstrap</a>
                                    </li>
                                    <li>
                                        <a href="#">Web</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

