
@{
    ViewBag.Title = "sektorDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="visual">
    <div class="visual-inner portfolio-banner-v1 black-overlay-3 parallax" data-stellar-background-ratio="0.55">
        <div class="centered">
            <div class="container">
                <div class="visual-text visual-center">
                    <h1 class="visual-title visual-sub-title text-white">Portfolio - Right Sidebar 2 Col</h1>
                    <div class="breadcrumb-block">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"> Home </a></li>
                            <li class="breadcrumb-item"><a href="#"> Protfolio </a></li>
                            <li class="breadcrumb-item"><a href="#"> Right Sidebar </a></li>
                            <li class="breadcrumb-item active"> 2 Col </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/visual/banner of the page -->
<!-- main content wrapper -->
<div class="content-wrapper">
    <section class="content-block portfolio-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="col-small mb-0 col-md-12">
                        <div class="img-block border-hover-effect">
                            <img src="~/img/brand/aboutimg.jpg" alt="images">
                        </div>
                    </div>
                    <section class="content-block">
                        <div class="container">
                            <div class="demo-wrapper text-center">
                                <h3>Default</h3>
                                <div class="divider"><img src="img/divider.png" alt="images description"></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis numquam molestiae amet sint optio! Nulla enim iure ut explicabo eum quidem unde magni quis quo ab, fugiat quisquam vitae, modi?</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.?</p>
                            </div>,
                            <div class="row masonary-block default-gallery">
                                <div class="col-md-6 col-lg-4">
                                    <figure class="caption-hover-full">
                                        <a data-thumbnail="img/logo/1.png" class="fancybox-thumb fancy-pop" title="Portfolio 12" href="img/visual-small-03.jpg"></a>
                                        <div class="image-wrapper"><img src="~/img/logo/1.png" alt="images description"></div>
                                    </figure>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <figure class="caption-hover-full">
                                        <a data-thumbnail="img/logo/2.png" class="fancybox-thumb fancy-pop" title="Portfolio 13" href="img/visual-small-03.jpg"></a>
                                        <div class="image-wrapper"><img src="~/img/logo/2.png" alt="images description"></div>
                                    </figure>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <figure class="caption-hover-full">
                                        <a data-thumbnail="img/logo/3.png" class="fancybox-thumb fancy-pop" title="Portfolio 14" href="img/visual-small-03.jpg"> </a>
                                        <div class="image-wrapper"><img src="~/img/logo/3.png" alt="images description"></div>
                                    </figure>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <figure class="caption-hover-full">
                                        <a data-thumbnail="img/logo/10.jpg" class="fancybox-thumb fancy-pop" title="Portfolio 15" href="img/visual-small-03.jpg"></a>
                                        <div class="image-wrapper"><img src="~/img/logo/10.jpg" alt="images description"></div>
                                    </figure>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <figure class="caption-hover-full">
                                        <a data-thumbnail="img/logo/4.png" class="fancybox-thumb fancy-pop" title="Portfolio 16" href="img/visual-small-03.jpg"></a>
                                        <div class="image-wrapper"><img src="~/img/logo/4.png" alt="images description"></div>
                                    </figure>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <figure class="caption-hover-full">
                                        <a data-thumbnail="img/logo/5.png" class="fancybox-thumb fancy-pop" title="Portfolio 17" href="img/visual-small-03.jpg"> </a>
                                        <div class="image-wrapper"><img src="~/img/logo/5.png" alt="images description"></div>
                                    </figure>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <figure class="caption-hover-full">
                                        <a data-thumbnail="img/logo/6.png" class="fancybox-thumb fancy-pop" title="Portfolio 18" href="img/visual-small-03.jpg"></a>
                                        <div class="image-wrapper"><img src="~/img/logo/6.png" alt="images description"></div>
                                    </figure>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <figure class="caption-hover-full">
                                        <a data-thumbnail="img/logo/7.png" class="fancybox-thumb fancy-pop" title="Portfolio 19" href="img/visual-small-03.jpg"></a>
                                        <div class="image-wrapper"><img src="~/img/logo/7.png" alt="images description"></div>
                                    </figure>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <figure class="caption-hover-full">
                                        <a data-thumbnail="img/logo/16.png" class="fancybox-thumb fancy-pop" title="Portfolio 20" href="img/visual-small-03.jpg"></a>
                                        <div class="image-wrapper"><img src="img/logo/16.png" alt="images description"></div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar-wrap mt-5 mt-lg-0">
                        <div class="widget-block">
                            <div class="post-block">
                                <h4>RECENT POSTS</h4>
                                <div class="col-small col-md-12">
                                    <div class="img-block border-hover-effect">
                                        <img src="~/img/brand/brand1.png" alt="images">
                                    </div>
                                </div>
                                <div class="col-small col-md-12">
                                    <div class="img-block border-hover-effect">
                                        <img src="~/img/brand/aboutimg.jpg" alt="images">
                                    </div>
                                </div>
                            </div>
                            <div class="widget-block">
                                <ul class="content-list info-list">
                                    <li class="row">
                                        <div class="col">
                                            <span class="custom-icon-folder"><span class="sr-only">&nbsp;</span></span>
                                            <span class="text title">Website</span>
                                        </div>
                                        <div class="col">
                                            <p>www.libertyhotelslykia.com</p>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col">
                                            <span class="custom-icon-user"><span class="sr-only">&nbsp;</span></span>
                                            <span class="text title">Created By:</span>
                                        </div>
                                        <div class="col">
                                            <p>Sanjeev Jha</p>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col">
                                            <span class="custom-icon-calendar"><span class="sr-only">&nbsp;</span></span>
                                            <span class="text title">Completed on:</span>
                                        </div>
                                        <div class="col">
                                            <p>07th August 2017</p>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col">
                                            <span class="custom-icon-skill"><span class="sr-only">&nbsp;</span></span>
                                            <span class="text title">Skills Used:</span>
                                        </div>
                                        <div class="col">
                                            <p>PHP / MySQL / HTML5</p>
                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col">
                                            <span class="custom-icon-link2"><span class="sr-only">&nbsp;</span></span>
                                            <span class="text title">Client Name:</span>
                                        </div>
                                        <div class="col">
                                            <p><a href="#">Roxine Web Studio</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget-block">
                                <div class="data-table">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Table heading</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Liberty Hotels Lykia</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Liberty Hotels Lara</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Ramada Kuşadası</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td>Ramada Suites</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Paradise Garden</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

